.tiptap {
	outline: none;

	:first-child {
		margin-top: 0;
	}

	[data-checked] {
		display: flex;

		label {
			padding-right: 0.5em;
		}
	}

	/* Fix caret no-show */
	[data-type='taskList'] p {
		min-width: 1px;
	}
	p:empty::after {
		content: '';
		min-width: 1px;
		display: inline-block; /* Helps ensure min-width is respected */
	}

	ul:not([data-type='taskList']) li {
		list-style-type: disc;
	}
	ol li {
		list-style-type: decimal;
	}

	ul,
	ol {
		padding: 0 1rem;
		margin: 1rem 1rem 1.25rem 0.4rem;
	}

	/* Remove padding between nested lists */
	ul ul,
	li > ul,
	li > ol {
		padding-top: 0;
		padding-bottom: 0;
		margin-top: 0rem;
		margin-bottom: 0rem;
		/* border: 2px solid red; */
	}
	ul {
		padding-left: 1.2em;
	}
	ul[data-type='taskList'] {
		padding-left: 0px;
	}

	ol ::marker {
		font-weight: 600;
		font-size: 0.95em;
		color: oklch(55.4% 0.046 257.417);
	}

	/* Heading styles */
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 1.1;
		margin-top: 2.5rem;
		text-wrap: pretty;
	}

	h1,
	h2 {
		margin-top: 3.5rem;
		margin-bottom: 1.5rem;
	}

	h1 {
		font-size: 1.4rem;
	}

	h2 {
		font-size: 1.2rem;
	}

	h3 {
		font-size: 1.1rem;
	}

	h4,
	h5,
	h6 {
		font-size: 1rem;
	}

	/* Code and preformatted text styles */
	code {
		border-radius: 0.4rem;
		font-size: 0.85rem;
		padding: 0.25em 0.3em;
	}

	pre {
		background: var(--black);
		border-radius: 0.5rem;
		font-family: 'JetBrainsMono', monospace;
		margin: 1.5rem 0;
		padding: 0.75rem 1rem;

		code {
			background: none;
			color: inherit;
			font-size: 0.8rem;
			padding: 0;
		}
	}

	blockquote {
		border-left: 3px solid var(--gray-3);
		margin: 1.5rem 0;
		padding-left: 1rem;
	}

	hr {
		border: none;
		border-top: 1px solid var(--gray-2);
		margin: 2rem 0;
	}

	/* Unique data id */
	/* [data-id] { */
	/* 	border: 2px solid var(--color-blue-500); */
	/* 	border-radius: 0.5rem; */
	/* 	padding: 2.5rem 1rem 1rem; */
	/* 	position: relative; */
	/**/
	/* 	&::before { */
	/* 		background-color: var(--color-blue-500); */
	/* 		border-radius: 0 0 0.5rem 0; */
	/* 		color: var(--white); */
	/* 		content: attr(data-id); */
	/* 		font-size: 0.75rem; */
	/* 		font-weight: bold; */
	/* 		left: 0; */
	/* 		line-height: 1.5; */
	/* 		padding: 0.25rem 0.5rem; */
	/* 		position: absolute; */
	/* 		top: 0; */
	/* 	} */
	/* } */
}
