.tiptap {
	@reference 'tailwindcss';

	outline: none;
	@apply text-sm;

	:first-child {
		margin-top: 0;
	}

	[data-checked] {
		display: flex;

		label {
			padding-right: 0.5em;
		}
	}

	/* Fix caret no-show */
	[data-type='taskList'] p {
		min-width: 1px;
	}
	p:empty::after {
		content: '';
		min-width: 1px;
		display: inline-block; /* Helps ensure min-width is respected */
	}

	ul:not([data-type='taskList']) li {
		list-style-type: disc;
	}
	ol li {
		list-style-type: decimal;
	}

	ul,
	ol {
		padding: 0 1rem;
		margin: 1rem 1rem 1.25rem 0.4rem;
	}

	/* Remove padding between nested lists */
	ul ul,
	li > ul,
	li > ol {
		padding-top: 0;
		padding-bottom: 0;
		margin-top: 0rem;
		margin-bottom: 0rem;
		/* border: 2px solid red; */
	}
	ul {
		padding-left: 1.2em;
	}
	ul[data-type='taskList'] {
		padding-left: 0px;
	}

	ol ::marker {
		font-weight: 600;
		font-size: 0.95em;
		color: oklch(55.4% 0.046 257.417);
	}

	p {
		@apply mb-1.5;
	}

	/* Heading styles */
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-semibold;
		line-height: 1;
		/* margin-top: 2rem; */
		@apply mt-6 mb-1.5;
		text-wrap: pretty;
	}

	h1,
	h2 {
		@apply mt-8 mb-3;
		/* margin-top: 3.5rem; */
		/* margin-bottom: 1.5rem; */
	}

	h1 {
		/* font-size: 1.3rem; */
		@apply text-2xl font-bold;
		/* @apply border-b border-gray-200 pb-1.5 dark:border-gray-700; */
	}

	h2 {
		/* font-size: 1.2rem; */
		@apply text-xl;
	}

	h3 {
		/* font-size: 1.1rem; */
		@apply text-lg;
	}

	h4,
	h5,
	h6 {
		font-size: 1rem;
	}

	/* Code and preformatted text styles */
	code {
		border-radius: 0.4rem;
		font-size: 0.85rem;
		padding: 0.25em 0.3em;
	}

	pre {
		background: var(--black);
		border-radius: 0.5rem;
		/* font-family: 'JetBrainsMono', monospace; */
		@apply font-mono;
		margin: 1.5rem 0;
		padding: 0.75rem 1rem;

		code {
			background: none;
			color: inherit;
			font-size: 0.8rem;
			padding: 0;
		}
	}

	blockquote {
		border-left: 3px solid var(--gray-3);
		margin: 1.5rem 0;
		padding-left: 1rem;
	}

	hr {
		border: none;
		border-top: 1px solid var(--gray-2);
		margin: 2rem 0;
	}

	p.is-editor-empty:first-child::before {
		@apply text-slate-500;
		content: attr(data-placeholder);
		float: left;
		height: 0;
		pointer-events: none;
	}

	/* Unique data id */
	/* [data-id] { */
	/* 	border: 2px solid var(--color-blue-500); */
	/* 	border-radius: 0.5rem; */
	/* 	padding: 2.5rem 1rem 1rem; */
	/* 	position: relative; */
	/**/
	/* 	&::before { */
	/* 		background-color: var(--color-blue-500); */
	/* 		border-radius: 0 0 0.5rem 0; */
	/* 		color: var(--white); */
	/* 		content: attr(data-id); */
	/* 		font-size: 0.75rem; */
	/* 		font-weight: bold; */
	/* 		left: 0; */
	/* 		line-height: 1.5; */
	/* 		padding: 0.25rem 0.5rem; */
	/* 		position: absolute; */
	/* 		top: 0; */
	/* 	} */
	/* } */
}
